<div style="display: flex;justify-content: center;">
<div class="displayTable" style="margin-top: 20%;">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>{{'Thank You for Registering'|translate}}</h3>

      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">{{'We have sent a confirmation email to'|translate}} <strong>{{user.email}}</strong>.</p>
        <p class="text-center">{{'Please check your email and click on the link to verfiy your email address'|translate}}.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          {{'Resend Verification Email'|translate}}
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span>Go back to?<Button class="redirect btn btn-dark" routerLink="/login"> Sign in</Button></span>
    </div>

  </div>
</div>
</div>
