*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
    border: none;
}
$blue :#38B9DB;
$bgColor : #EFEFF4;
$btnColor : #30C34B;

#filter-speciallities{
    display: flex;
    :first-child{
        color: $blue;
    }
    li{
        font-weight: 700;
        font-size: 1em;
    }
}
#search-body{
    background-color: $bgColor;
   
    .row{
        .col-md-6{
            .d-flex{
                justify-content: space-around;
                text-align: center;
            }
            img{
                border-radius: 50%;
                width: 120px;
                padding: .5em;
                padding-bottom: .1em;
            }
            h4{
                color: $blue;
            }
            .icon span{
                padding-left: 2px;
            }
            .fees{
                color: $blue;
                font-size: 1.8em;
            }
            .desc{
                font-size: .8em;
            }
            .btn{
                width: 90%;
                margin-left: 4%;
                background-color: $btnColor;
            }
        }
    }
}
.search-filter{
    background-color: #fff;
    border-radius: .5em ;
    padding: 1em 0;
    hr{
        color: #bdbdc0;
    }
    .filter-title>h2{
        text-transform: capitalize;
        color: $blue;
        font-size: 2em;
        padding-left: .5em;
    }
    .filter-body{
        .firstRow{
            padding:0 .8em;
            margin-bottom: 20px;
            #gender{
                display: flex;
                justify-content: space-between; 
                select{
                    margin-top: .2em;
                }    
            }
            
           .cont{
            margin-top: .5em;
                .input-checkbox {
                    height: 1.2em;
                    width: 1.2em;
                    border-radius: 2px ;
                }
                img{
                    float: right;
                    color: $blue;
                    font-size: 1.2em;
                }
           }
           .flex-btn{
               display: flex;
               flex-direction: column;
               label{
                   margin-bottom: .5em;               
                }
           }
        }
        .secoundRow{
            padding:0 .8em;
            margin-bottom: 20px;
            #day{
                display: flex;
                justify-content: space-between;
                select{
                    margin-top: .2em;
                }    
            }
        }
}
}
.search-title{
    #h4{
        font-weight: 600;
        color: #120f55;
    }
}

