<div class="fixed-top">
  <nav id="navbar1"
      class="navbar navbar-expand-lg navbar-scroll navbar-light shadow px-3 py-2 mb-2 bg-body rounded">
      <div class="container-fluid ">
          <a class="navbar-brand" href="#!">
              <img src="https://www.clinido.com/public/images/logo-menu-light.svg"
                  class="img-responsive ms-3 mt-2">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link  text mx-3 fw-bold mt-1 c" href="#!">CliniDO Blog</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link  text mx-3 fw-bold mt-1 c" href="#!">Are you a Doctor?</a>
                  </li>
                  <button type="button" id="btnLogin" class="btn ms-3 fw-bold"
                      style="color: white ;">Login</button>
                  <li class="nav-item">
                      <img src="images/egypt.png" class="ms-3 mt-2" style="width: 30px;">
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</div>
<br>
