<div class="container-fluid search_box">
  <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-sm-12 ">
          <select style="background-color:#efeff4 ;" class="form-select form-select-lg mb-3"
              aria-label=".form-select-lg" [(ngModel)]="filterItem">
              <option value={{item.name}} name="drcategory" *ngFor="let item of specialities">{{item.name}}</option>


          </select>

      </div>

      <div class="col-lg-2 col-md-2 col-sm-12">
          <select style="background-color:#efeff4 ;" class="form-select form-select-lg mb-3"
              aria-label=".form-select-lg" [(ngModel)]="filterItem">
              <option value={{city.name}} name="drcity" *ngFor="let city of cityCat"> {{city.name}}</option>


          </select>


      </div>

      <div class="col-lg-2 col-md-2 col-sm-12">
          <select style="background-color:#efeff4 ;" class="form-select form-select-lg mb-3"
              aria-label=".form-select-lg" [(ngModel)]="filterItem">
              <option value="">area</option>
              <option value="0">All areas</option>
          </select>


      </div>

      <div class="col-lg-5 col-md-5 col-sm-12">
          <div class="row">
              <div class="col-md-8 col-sm-12 col-xs-12 ">
                  <div class="input-container "
                      style="background-color: #efeff4; border-radius: 8px;height: 60px;">
                      <i class="icon"><img style="margin:4%;"
                              src="https://clinido.com/public/images/ic-type.svg"></i>
                      <input class="input  doctor-name" type="text" placeholder="Type doctor\center\hospital name"
                          name="inputValue" #username  [(ngModel)]="filterItem">
                  </div>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                  <button type="button" style="background-color: #30c34a; color: white;"
                      class="btn w-100 h-100 fs-4 fw-bold bttn-search" (click)="clickme(username.value)">Search</button>
              </div>
          </div>
      </div>

  </div>
</div>


<div id="search-body">
  <div class="container p-2 ">
      <div class="col-md-12">
          <ul id="filter-speciallities">
              <li>Home page </li>
              <li> / all speciallities</li>
          </ul>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="search-filter">
                  <div class="filter-title">
                      <h2>filter</h2>
                  </div>
                  <hr>
                  <div class="filter-body">
                      <div class="row firstRow">
                          <label for="gender">Type</label>
                          <br>
                          <div class="flex-gender-btn" id="gender">
                              <select class="form-select" aria-label="Default select example">
                                  <option selected>please select gender</option>
                                  <option value="All">All</option>
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                              </select>
                          </div>
                      </div>
                      <div class="row secoundRow">
                          <label for="day">Availability</label>
                          <br>
                          <div class="flex-day-btn" id="day" data-toggle="buttons1">
                              <select class="form-select" aria-label="Default select example">
                                  <option selected>please select day</option>
                                  <option value="All">All</option>
                                  <option value="Today">Today</option>
                                  <option value="Tomorrow">Tomorrow</option>
                              </select>
                          </div>
                      </div>

                      <div class="row firstRow">
                          <div class="flex-btn">
                              <label for="formControlRange">Clinic fees</label>
                              <input type="range" class="form-control-range" id="formControlRange" value="0">
                          </div>
                      </div>
                      <div class="row firstRow">
                          <label for="type">Clinic features</label>
                          <label class="cont" for="checkbox1">
                              <input type="checkbox" id="checkbox1" class="input-checkbox ">
                              Elevator
                              <img src="/src/assets/images/elavator.svg" alt="">
                          </label>
                          <label class="cont" for="checkbox2">
                              <input type="checkbox" id="checkbox2" class="input-checkbox ">
                              Conditioner
                              <img src="/src/assets/images/air-conditioner.svg" alt="">
                          </label>
                          <label class="cont" for="checkbox3">
                              <input type="checkbox" id="checkbox3" class="input-checkbox ">
                              E-payment
                              <img src="/src/assets/images/visa-pay.svg" alt="">
                          </label>
                          <label class="cont" for="checkbox4">
                              <input type="checkbox" id="checkbox4" class="input-checkbox ">
                              TV
                              <img src="/src/assets/images/tv.svg" alt="">
                          </label>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <div class="col-md-12 search-title">
                  <h4 id="h4">Book best doctor in Egypt</h4>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <app-card *ngFor="let item of doctors |filter:filterItem" [doctor]="item"></app-card>
                  </div>
                  <div class="col-md-6">
                  </div>
              </div>
          </div>
      </div>
  </div>


