<div class="col-lg-3 col-md-3 col-sm-12" id="details">
  <div class="card mb-2 doctor shadow p-3" style="border-radius: 1em;" >
    <img class="card-img-top w-25 py-1" src="../../../../assets/images/ProfilePictureMaker.png"
        alt="image cap">
    <div>
        <h5 class="card-title">{{bookingDetails.name}}</h5>
        <p class="mb-1">{{bookingDetails.phone}}</p>
        <p class="text-muted">{{bookingDetails.email}}</p>
        <span class="text-muted">Saturday | 23 Oct 2021 (5:00 PM - 8:00 PM)</span>

    </div>
</div>
</div>
